/1. Informe Final del Alumno 23.24 (correccion1).docx
/1. Informe Final del Alumno 23.24 (JOSSUE´S EDITION).docx
/1. Informe Final del Alumno 23.24.docx
/1.py
/1_Metodologías de desarrollo de software.pptx
/223109c96071bb64b41c5aeb98ee7bea.jpg
/66c681941a9c7.jpeg
/@MIDILATINO - THE ARTIST SERIES.zip
/Algoritmos de ordenamiento 2[1].docx
/Algoritmos de ordenamiento 2[1].pdf
/alquiler de vehiculos.png
/Análisis_(Jossue_guerrero).pdf
/Análisis_(Jossue_guerrero)[1].docx
/Análisis_(Jossue_guerrero)[1].pdf
/Análisis_y_Función_de_las_Principales_Partes_de_una_Computadora_JOSSUE[.pdf
/Análisis_y_Función_de_las_Principales_Partes_de_una_Computadora_JOSSUE[1].docx
/Análisis_y_Función_de_las_Principales_Partes_de_una_Computadora_JOSSUE[1].pdf
/ARREGLOS  Y MATRICES (1)[1].docx
/ARREGLOS  Y MATRICES (1)[1].pdf
/Beige and Pink Modern Business Process Flowchart Diagram.png
/Brown Pastel Flowchart Diagram Graph Template (1) (1).pdf
/Brown Pastel Flowchart Diagram Graph Template (1).pdf
/Brown Pastel Flowchart Diagram Graph Template.pdf
/CakewalkSetup.exe
/capas.pptx
/Captura_de_pantalla_2025-01-27_211023-removebg-preview.png
/Captura_de_pantalla_2025-04-10_190756-removebg-preview.png
/CEVIAL MANUAL MOTOS_72e88abf4f6019a713052c720124caa7.pdf
/ChatGPT Image 13 abr 2025, 14_37_05.png
/ChatGPT Image 14 abr 2025, 08_01_33 p.m..png
/ChromeSetup.exe
/circulo-rojo-abstracto-sobre-tecnologia-fondo-negro_1142-10293.avif
/concepto de normalización en bases de datos,.pdf
/Conceptos de Redes Básicas.pptx
/convocatoria-intercambio-u-espanola-portada.jpg
/cuadro_sinoptico_bonito
/desktop.ini
/Dia 1 Desarrollo FrontEnd.pdf
/Diagrama_de_flujo_JOSSUE_GUERRERO.docx
/DiscordSetup.exe
/Diseño_Conceptual (1)[1].pdf
/ED. VIAL pdf.pdf
/Ejercicio 1 soporte.docx
/enemdu_dic17.dta
/entidades (2).pdf
/entidades (2)[1].pdf
/entidades.pdf
/entidades.png
/Escuela de conducción (2).pdf
/explicacioncalculadoramatrices.pdf
/Fam.mp4
/familypla.zip
/FamilyPlan.docx
/FamilyPlan.pdf
/Familyplann.docx
/Familyplann.dot
/Familyplann.pdf
/flstudio_win64_24.2.2.4597.exe
/Git-2.49.0-64-bit.exe
/guaumiauymasmalumablessdfoto-removebg-preview.png
/guaumiauymasmalumablessdfoto.jpg
/horror_moviess.xlsx
/Imagen de perfil para redes sociales de artista visual amarillo (1).png
/Imagen de perfil para redes sociales de artista visual amarillo.png
/Imagen de WhatsApp 2025-02-12 a las 12.59.46_dc161036.pdf
/Imagen de WhatsApp 2025-03-22 a las 21.08.49_854a71c4.jpg
/Imagen de WhatsApp 2025-04-04 a las 12.43.16_29a83153.jpg
/Imágenes
/Infografía Inteligencia Artificial moderno negro y verde.jpg
/Informe Scripts.pdf
/kali-linux-2024.4-virtualbox-amd64
/kali-linux-2024.4-virtualbox-amd64.7z
/lista tareas
/logincorreo.html
/loginjava.html
/malla y arbol.pdf
/Maluma-Blessd-cr-David-Bernal-press-2024-billboard-1548.webp
/MATEMATICAS[1].pdf
/miles-morales-in-multiverse.jpg
/Modelo relacional.pdf
/Modelo Relacional.pptx
/Nueva carpeta
/OBS-Studio-31.0.1-Windows-Installer.exe
/Portada de disco música fotográfico blanco (1).jpg
/Portada de disco música fotográfico blanco.jpg
/Portada de Álbum de Música Electrónica en Negro Neón Amarillo estilo Brutalista Ácido.png
/Portada de Álbum de R&B en Naranja Negro estilo Brutalista Ácido.pdf
/Portada de Álbum de R&B en Naranja Negro estilo Brutalista Ácido.png
/Post de Facebook Anuncio de Canción Album Moderno Verde.png
/Post de Facebook Recomendación de la Semana Canción Moderno Geométrico Verde.png
/Post de instagram de podcast moderno negro.png
/Presentación diagramas y mapas conceptuales corporativo profesional negro.pdf
/Presentación[1].pdf
/Primeros Auxilios Recuperación de Puntos.pdf
/python-3.13.1-amd64 (1).exe
/python-3.13.1-amd64.exe
/RobloxPlayerInstaller.exe
/Screenshot 2025-04-09 120937.png
/Semana 1 Introducción a la BD.pdf
/Semana 3 Nomalización.pdf
/Sin título.png
/SISTEMAS.docx
/SoundBridge_64-bit.exe
/Stata15
/Stata15.zip
/SteamSetup.exe
/Tarea Sistema de Gestion de renta de vehiculos (1).pdf
/Tarea Sistema de Gestion de renta de vehiculos (2).pdf
/Tarea Sistema de Gestion de renta de vehiculos.pdf
/Topologias_Fisicas_Red.docx
/Topologias_Fisicas_Red_APA.docx
/Topologias_Fisicas_Red_APA_Full.docx
/Topologias_red.pdf
/Traducción de pseudocódigo básico.docx
/Traducción de pseudocódigo básico.pdf
/UNIVERSIDAD UTE.docx
/UNIVERSIDAD.docx
/Untitled3.do
/USO DE BLOQUES DE CÓDIGO INDENTADOS COMO SECUENCIAS[1].docx
/USO DE BLOQUES DE CÓDIGO INDENTADOS COMO SECUENCIAS[1].pdf
/viaje_correo_capas.pptx
/visibildadjquery.html
/Vocal Reggaeton Pack - Dj Alexis Delgado.zip
/VSCodeUserSetup-x64-1.95.3.exe
/windows_10_cmake_Release_graphviz-install-12.2.1-win32.exe
/windows_10_cmake_Release_graphviz-install-12.2.1-win64.exe
/you.html
/ZoomInstallerFull.exe
/Zoom_cm_fikb5sZ9vvrZo4_m9nPh-oSLZIRgOiBZs+52ugsZcG95y-jQCL3V@uVCf2aA-7QAqSjsY_kd305c892e17e759b_.exe
/_Diagrama_de_flujo[1].pdf
/~$emdu_dic17.dta